<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>36912</h1>
<h1>SAI CHANDANA GAMINI</h1>


    <form method="post">
        <label>Enter the query</label><br><br>
        <input type="text" name="5mag"><br><br>
        <input type="submit" value="submit"><br><br>

        <label>Enter the distance range of a location</label><br><br>
        <p>Latitude cordinates</p><input type="text" name="lat"><br><br>
        <p>Longitude cordinates</p><input type="text" name="lon"><br><br>
        <p>distance</p><input type="text" name="dis"><br><br>
        <input type="submit" value="submit"><br><br>

        <label>Enter the mag range and time range</label><br><br>
        <p>Lower magnitude</p><input type="text" name="magmin"><br><br>
        <p>Upper magnitude</p><input type="text" name="magmax"><br><br>
        <p>Minimum Time Value</p><input type="text" name = "mintime"><br><br>
        <p>Maximum Time Value</p><input type="text" name="maxtime"><br><br>
        <input type="submit" name="submit">


    </form>
</body></html>